# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore

!README.md
!LICENSE

!nested-subdir/
!subdir/
!cids-simulator.cc
!CMakeLists.txt

!results/
!plots/
!Evaluating_Propagation_Models_in_Wi_Fi_Simulations_Using_ns_3.*
